table, th, td {
    border:1px solid black;
    padding: 5px;
}

.tabl{
    justify-content: center;
    display: flex;
    padding-top: 60px;
}
.title{
    justify-content: center;
    display: flex;
    font-size: x-large;
}

body{
    background-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    width: 148px;
    display: inline-block;
}

.form-groep{
margin:10px 0px;
}